<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Board">
	
	<select id="selectAll" resultType="kh.spring.dto.BoardDTO">
		SELECT * FROM board ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO board VALUES(board_seq.NEXTVAL, #{writer}, #{title}, #{contents}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectBySeq" resultType="kh.spring.dto.BoardDTO">
		SELECT * FROM board WHERE seq = #{value}
	</select>
	
	<delete id="delete">
		DELETE FROM board WHERE seq = #{value}
	</delete>
	
	<update id="modify">
		UPDATE board SET title = #{title}, contents=#{contents} WHERE seq = #{seq}
	</update>
</mapper>